/* src/components/NavigationBar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
.icon-down{
  color: #ff2f00;
}
.nav-btn{
  color:#ff2f00;
  padding: 5px;
  background: #fffbfb;
  cursor: pointer;
  border-radius: 3px;

}

  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    height: fit-content;
    color: #ffd700;
  }
  
  .menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .nav-item a:hover {
    color: #ffd700;
  }

/* src/CSS/YourStyles.css */

/* .download-btn {
  border-bottom-right-radius: 10px;
  border: 1px solid transparent;
  background: none;
  color: #ff2f00;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.download-btn .nav-btn:hover {
  background-color: #ff2f00; 
  color: #fff;
} */


  button{
    cursor: pointer;
    padding: 6px;
    font-size: 1.2rem;
  }
  /* Mobile responsive styles */
  @media (max-width: 800px) {
    .menu-icon {
      display: block;
    }
  
    .nav-list {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background: #333;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-100%);
      transition: transform 0.3s ease;
      opacity: 0;
      pointer-events: none;
      margin-top: 60px;
    }
  
    .nav-list.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
      margin-top: 40px;
    }
  
    .nav-item {
      margin: 1rem 0;
    }
  
    .nav-item a {
      font-size: 1.5rem;
    }
    .logo{
        text-align: center;
    }
  }
  